streamlit
pinecone
torch==2.4.1
langchain==0.2.16
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langchain-together
sentence-transformers==3.0.1
tqdm==4.66.2
openpyxl==3.1.5
google-ai-generativelanguage==0.6.4
google-api-core==2.18.0
google-api-python-client==2.148.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-generativeai==0.5.4
google-pasta==0.2.0
googleapis-common-protos==1.63.0
pytorch-transformers==1.0.0
transformers==4.45.0
cohere
datasets==2.16.1
numpy==1.26.4
pandas==2.2.2
pandas-ml==0.6.1
accelerate>=0.26.0